[submodule "3rdParty/nvbench"]
	path = 3rdParty/nvbench
	url = https://github.com/NVIDIA/nvbench
[submodule "3rdParty/argparse"]
	path = 3rdParty/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "3rdParty/cutlass"]
	path = 3rdParty/cutlass
	url = https://github.com/NVIDIA/cutlass.git
